@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,200,300,400,500,600,700,800,900%7CNunito+Sans:100,200,300,400,500,600,700,800,900%7CSource+Sans+Pro:100,200,300,400,500,600,700,800,900%7CSource+Code+Pro:100,300,500%7CLato:400&subset=latin-ext');


body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

.container {
  margin: 1rem;
  text-align: center;
}

.nav {
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.site-title {
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active {
  color: #2050fe;
  text-decoration: underline;
  font-weight: bold;
}

.nav li:hover {
  background-color: #777;
}

.barChartParentDiv {
  max-width: 700px;
}

.homePageHeading {
  text-align: left;
}

.homePageTable {
  width: 100%;
  max-width: 700px
}

.homePageTableHeading {
  text-align: left;
  color: #a4aabd;
}

.homePageTableData {
  font-size: 30px;
  text-align: left;
  font-weight: bold;
}

.homePageNewArr {
  color: #a4aabd;
  text-align: left;
}

.customerPageTable {
  width: 100%;
}

.customerPageTableHeading {
  text-align: left;
  color: #a4aabd;
}

.customerPageTableRow {
  text-align: left;
}

.customerDetailsHeading {
  text-align: left;
}

.customerDetailsTable {
  width: 100%;
}

.customerDetailsTableData {
  text-align: left;
}

.logo-image {
  width: 55px;
}

.avatar-image {
  width: 45px;
  height: 45px;
  border-radius: 5px;
  margin: 1px
}

.avatar-button {
  margin: 5px;
}

.navbar-dropdown {
  display: inline-block;
}